.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    line-height: 3;
    background-color: gray;
    text-align: center;
}

.Note
{
    font-size: 18px;
    color: red  ;
}

.heading
{
    font-size: 30px;
    width: 100%;
    margin: 0;
    box-shadow: 10px 10px 10px #d9e075;
}

canvas
{
    border: 5px solid white;
    box-shadow: 10px 10px 13px gray;
    border-radius: 15px;
    }
